---
import Layout from "../../layouts/Layout.astro";
import { getCollection } from "astro:content";

const allBlogPosts = await getCollection("posts");
---

<Layout title="Blog" description="Explore my blog posts.">
	<div class="container px-8 md:px-16 lg:px-32 xl:px-48 mx-auto flex flex-col gap-10">
		<div class="bg-viola-100 rounded-xl p-8 flex flex-col gap-5">
			<h1 class="text-3xl font-bold">Blog</h1>
			{
				allBlogPosts.sort((a, b) => {
					return new Date(b.data.date).getTime() - new Date(a.data.date).getTime();
				}).map((post) => (
					<a href={`/blog/${post.slug}`} class="bg-viola-50 rounded-lg p-8 m-2 shadow-lg">
						<div class="flex flex-row justify-between items-center mb-4">
							<span class="text-lg font-bold">{post.data.title}</span>
							<span>{post.data.date.toLocaleDateString()}</span>
						</div>

						<p>{post.data.description}</p>
					</a>
				))
			}
		</div>
	</div>
</Layout>
