---
import Layout from "../layouts/Layout.astro";
import MarketDB from "../components/port/MarketDB";
---

<Layout title="Market DB" description="Explore a wide range of products and their prices.">
	<div class="container mx-auto flex flex-col gap-10 px-1 md:px-8 lg:px-10 xl:px-48">
		<MarketDB client:load />
	</div>
</Layout>
