---
import { Image } from "astro:assets";
import Layout from "../layouts/Layout.astro";
import mcHead from "../assets/mchead.png";
import betterHudIcon from "../assets/betterhud.png";
import { Icon } from "astro-icon/components";
import ProjectDescription from "../components/ProjectCard.astro";
---

<Layout title="dsns.dev" description="Check out what I do, and explore some of my projects.">
	<div class="container mx-auto flex flex-col gap-10 px-6 md:px-8 lg:px-10 xl:px-48">
		<div class="rounded-xl bg-viola-100 p-8">
			<h1 class="text-3xl font-bold">Other Projects</h1>

			<div class="mt-4 grid grid-cols-1 gap-4 lg:grid-cols-2">
				<ProjectDescription title="Recent Games" url="/recentgames" description="Find the status and recent games of any Hypixel player." tags={["React", "Hypixel API"]}>
					<Image
						src={mcHead}
						alt={`Recent Games Icon`}
						width={96}
						class={`rounded-xl p-7 bg-viola-200 w-[96px] h-[96px] md:w-[128px] md:h-[128px] basis-1/5 aspect-square"`}
						loading={"eager"}
					/>
				</ProjectDescription>

				<ProjectDescription
					title="BetterHUD"
					url="https://modrinth.com/mod/betterhudfabric"
					description="A Minecraft Fabric mod providing a HUD with essential information."
					tags={["Java", "Minecraft"]}
				>
					<Image src={betterHudIcon} alt={`Recent Games Icon`} width={128} class={`rounded-xl p-3 bg-viola-200 w-[128px] basis-1/5 aspect-square"`} loading={"eager"} />
				</ProjectDescription>

				<ProjectDescription title="Market DB" url="/marketdb" description="Explore a wide range of products and their prices." tags={["React"]}>
					<div>
						<Icon name="mdi:shopping-cart" class="aspect-square h-[96px] w-[96px] basis-1/5 rounded-xl bg-viola-200 p-7 text-3xl text-viola-600 md:h-[128px] md:w-[128px]" />
					</div>
				</ProjectDescription>

				<ProjectDescription title="Birthdays" url="/birthdays" description="Lists upcoming birthdays." tags={["React"]}>
					<div>
						<Icon name="mdi:cake-variant" class="aspect-square h-[96px] w-[96px] basis-1/5 rounded-xl bg-viola-200 p-7 text-3xl text-viola-600 md:h-[128px] md:w-[128px]" />
					</div>
				</ProjectDescription>

				<ProjectDescription title="WHOIS Lookup" url="/whois" description="A WHOIS search without censorship." tags={["React"]}>
					<div>
						<Icon name="mdi:tab-search" class="aspect-square h-[96px] w-[96px] basis-1/5 rounded-xl bg-viola-200 p-7 text-3xl text-viola-600 md:h-[128px] md:w-[128px]" />
					</div>
				</ProjectDescription>
			</div>
		</div>
	</div>
</Layout>
