---
import { Image } from "astro:assets";
import profilePicture from "../assets/kirby.svg";

import NavButton from "./NavButton.astro";
import SocialButton from "./SocialButton.astro";
---

<nav class="mb-10 flex flex-col sm:flex-row items-center justify-between rounded-xl bg-viola-100 px-10 py-6 shadow-lg gap-2">
	<a class="flex flex-row items-center gap-5" href="/">
		<Image src={profilePicture} alt="kirby" class="rounded-full" width={48} loading={"eager"} />
		<h1 class="text-3xl font-bold">dsns.dev</h1>
	</a>

	<div class="flex flex-row items-center gap-2 md:gap-5">
		<NavButton name="Home" iconName="mdi:home" url="/" />
		<NavButton name="Projects" iconName="mdi:globe" url="/projects" />
		<NavButton name="Blog" iconName="mdi:library-books" url="/blog" />

		<div class="flex items-center justify-evenly gap-2 rounded-full border-2 border-viola-200 p-3 md:flex-row md:gap-5">
			<SocialButton name="GitHub Profile" iconName="mdi:github" url="https://github.com/dsnsgithub" />
			<SocialButton name="YouTube Channel" iconName="mdi:youtube" url="https://www.youtube.com/@DSNShypixel" />
			<SocialButton name="LinkedIn" iconName="mdi:linkedin" url="https://www.linkedin.com/in/dominicseung/" />
		</div>
	</div>
</nav>
