---
import { Icon } from "astro-icon/components";

interface Props {
	name: string;
	iconName: string;
	url: string;
}

const { name, iconName, url } = Astro.props;
---

<a href={url} class="duration-500 hover:scale-[1.15] hover:transition hover:duration-500" target="_blank" rel="noopener noreferrer" aria-label={name} title={name}>
	<Icon name={iconName} class="text-2xl text-viola-900" />
</a>
